*
{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;

    font-family: "Syne", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #353535;
    /* background: url(); */
}
.box
{
  
    position: relative;
    width: 450px;
    height: 550px;
    border-radius: 25px;
    background: #4570d5;
    ;
    padding: 30px 50px;

    box-shadow: 25px 25px 75px rgba(32, 174, 41, 0.963);
    box-shadow: 10px 10px 70px ☐ rgba(40, 236, 9, 0.798);
    box-shadow: inset 5px 5px 10px rgba(22, 202, 9, 0.906);
    box-shadow: inset 5px 5px 20px rgb(86, 223, 17);
    box-shadow: inset -5px -5px 15px rgba(117, 212, 14, 0.333);
   
}
h2
{
    width: 100%;
    font-weight: 600;
    text-align: center;
    color: #fff;
    font-size: 1.75em;
    margin-bottom: 10px;
}
#inputBx
{
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 1em;
    box-shadow:  5px 5px 7px rgba(0, 0, 0, 0.042), inset 2px 2px 5px rgba(0,0,0,0.5),
    inset -3px -3px 5px rgba(106, 209, 10, 0.439);

}
.box li
{
    position: relative;
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    background: #ecdddd;
    margin: 15px 0;
    padding: 10px 10px 10px 45px;
    min-height: 45px;
    cursor: pointer;
    border-radius: 22.5px;
    color: #000000;
    box-shadow:  5px 5px 7px rgba(0, 0, 0, 0.189), inset 2px 2px 5px rgba(0,0,0,0.5),
    inset -3px -3px 5px rgba(237, 6, 6, 0.098);
}
.box li i
{
    position: absolute;
    right: -40px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#e04b0a;
    border-radius: 50%;
    box-shadow:  5px 5px 7px rgba(126, 191, 14, 0.083), inset 2px 2px 5px rgba(255,255,255,0.5),
    inset -3px -3px 5px rgba(80, 57, 41, 0.11);
}
.box li i::before
{
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background: #fff;
    transform: rotate(45deg);
}
    .box li i::after
{
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background: #fff;
    transform: rotate(-45deg);
}
.box li::before
{
    content: '';
    position: absolute;
    left: 8px;
    width: 30px;
    height: 30px;
    background: #2f363e;
    border-radius: 50%;
}

.box li.done
{
    background: #607d8b;
}
.box li.done:after
{
content: '';
position: absolute;
left: 16px;
width: 12px;
height: 6px;
border-left: 2px solid #fff;
border-bottom: 2px solid #fff;
transform: rotate(315deg);
}
#list
{
   position: relative;
   margin-top: 20px;
   height: 350px;
   overflow-y: auto;
   padding-left: 10px;
 }
::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 15px rgba(0,0,0,0.5);
}
::-webkit-scrollbar
{
    width: 5px;
}
::-webkit-scrollbar-thumb
{
    background: #fff;

}
/* styles.css */
/* Cool share button made by: csozi | Website: english.csozi.hu*/

.buttons {
    position: relative;
    display: grid;
    place-items: center;
    height: fit-content;
    width: fit-content;
    margin: -520px 330px ;
    transition: 0.3s;
    border-radius: 50%;
  }
  
  .buttons:hover {
    padding: 60px;
  }
  
  .buttons:hover .button {
    box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
  }
  
  .main-button {
    position: relative;
    display: grid;
    place-items: center;
    padding: 10px;
    border: none;
    background: #e8e8e8;
    box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
    border-radius: 50%;
    transition: 0.2s;
    z-index: 100;
  }
  
  .button {
    position: absolute;
    display: grid;
    place-items: center;
    padding: 10px;
    border: none;
    background: #e8e8e8;
    box-shadow: 5px 5px 12px rgba(202, 202, 202, 0), -5px -5px 12px rgba(255, 255, 255, 0);
    transition: 0.3s;
    border-radius: 50%;
  }
  
  .discord-button:hover {
    background: #5865F2;
  }
  
  .buttons:hover .discord-button {
    translate: 70px 0px;
    box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
  }
  
  .twitter-button:hover {
    background: #1CA1F1;
  }
  
  .buttons:hover .twitter-button {
    translate: 47px -47px;
    box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
  }
  
  .reddit-button:hover {
    background: #FF4500;
  }
  
  .buttons:hover .reddit-button {
    translate: 0px -70px;
    box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
  }
  
  .messenger-button:hover {
    background: #0093FF;
  }
  
  .buttons:hover .messenger-button {
    translate: -47px -47px;
    box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
  }
  
  .pinterest-button:hover {
    background: #F0002A;
  }
  
  .buttons:hover .pinterest-button {
    translate: -70px 0px;
    box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
  }
  
  .instagram-button:hover {
    background: #F914AF;
  }
  
  .buttons:hover .instagram-button {
    translate: -47px 47px;
    box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
  }
  
  .snapchat-button:hover {
    background: #FFFC00;
  }
  
  .buttons:hover .snapchat-button {
    translate: 0px 70px;
    box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
  }
  
  .whatsapp-button:hover {
    background: #25D366;
  }
  
  .buttons:hover .whatsapp-button {
    translate: 47px 47px;
    box-shadow: 5px 5px 12px #cacaca, -5px -5px 12px #ffffff;
  }

  .bookmarkBtn {
    width: 100px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.349);
    background-color: rgb(12, 12, 12);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    margin: 0px 275px;
  }
  
  .IconContainer {
    width: 30px;
    height: 30px;
    background: linear-gradient(to bottom, rgb(255, 136, 255), rgb(172, 70, 255));
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: 0.3s;
  }
  
  .icon {
    border-radius: 1px;
  }
  
  .text {
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  z-index: 1;
  transition-duration: 0.3s;
  font-size: 1.04em;
}
  
.bookmarkBtn:hover .IconContainer {
  width: 90px;
  transition-duration: 0.3s;
}
  
.bookmarkBtn:hover .text {
  transform: translate(10px);
  width: 0;
  font-size: 0;
  transition-duration: 0.3s;
}
  
.bookmarkBtn:active {
  transform: scale(0.95);
  transition-duration: 0.3s;
}
  